<footer className="bg-body-tertiary text-center text-lg-start">
  {/* Copyright */}
  <div className="text-center p-3" style={{backgroundColor: 'rgba(0, 0, 0, 0.05)'}}>
    ©  Copyright:
    <a className="text-body" href="https://nitjsr.ac.in/">NIT JAMSHEDPUR</a>
  </div>
  {/* Copyright */}
</footer>